---
---
<footer class="bg-dark text-white py-4">
  <div class="container text-center">
    <p>© 2025 RSG Turkey. All rights reserved.</p>
    <div class="d-flex justify-content-center gap-3">
      <a href="https://twitter.com/rsgturkey" class="text-white">Twitter</a>
      <a href="https://github.com/rsgturkey" class="text-white">GitHub</a>
      <a href="https://youtube.com/rsgturkey" class="text-white">YouTube</a>
    </div>
  </div>
</footer>